---
layout: home
---

<section class="page-intro">
   <div class="container">
      <h2 class="page-heading">Magento 2 Developer Documentation</h2>
   </div>
</section>
<!-- NEWS -->
<section class="home-section">
   <div class="container">
      <h2 class="no-padding">Get Started with Magento</h2>
      <h3><a href="{{ site.gdeurl }}release-notes/bk-release-notes.html">Release Notes</a></h3>
      <p>New features, enhancements, and behavior changes in Magento 2.</p>
      <h3><a href="{{ site.gdeurl }}architecture/bk-architecture.html">Magento Architecture</a></h3>
      <p>What is Magento? How the Magento platform is organized, overview of modules, file system, and database.</p>
      <div class="panel-separator"></div>
   </div>
</section>

<!-- ADMINS -->
<section class="home-section">
   <div class="container">
      <h2 class="no-padding">System Administrators</h2>
     <!--  <p>Install and configure Magento.</p> -->
      <h3><a href="{{ site.gdeurl }}install-gde/bk-install-guide.html">Installation Guide</a></h3>
      <p>How to install the Magento software and components.</p>
      <h3><a href="{{ site.gdeurl }}comp-mgr/bk-compman-upgrade-guide.html">Component Manager and Upgrade Guide</a></h3>
      <p>How to manage Magento components (extensions, language packages, and themes).</p>
      <h3><a href="{{ site.gdeurl }}upgrade/bk-upgrade-guide.html">Upgrade Guide</a></h3>
      <p>How to upgrade the Magento software and components.</p>
      <h3><a href="{{ site.gdeurl }}config-guide/bk-config-guide.html">Configuration Guide</a></h3>
      <p>Learn how to configure Magento and integrate third-party software with Magento.</p>
      <h3><a href="{{ site.gdeurl }}migration/bk-migration-guide.html">Migration Guide</a></h3>
      <p>Migrate data from Magento 1.x to Magento 2.0.</p>
      <div class="panel-separator"></div>
   </div>
</section>
<!-- DEVELOPERS -->
<section class="home-section">
   <div class="container">
      <h2 class="no-padding">Developers</h2>
      <h3><a href="{{ site.gdeurl }}contributor-guide/contributing.html">Contributor Guide</a></h3>
      <p>How to contribute to the Magento 2 codebase and to Magento 2 documentation.</p>
      <h3><a href="{{ site.gdeurl }}frontend-dev-guide/bk-frontend-dev-guide.html">Frontend Developer Guide</a></h3>
      <p>Customize your storefront.</p>
      <h3><a href="{{ site.gdeurl }}ui-library/ui-library-component.html">UI Library Components</a></h3>
      <p>How to use grids, forms, and other elements of the Magento UI Library.</p>
      <h3><a href="{{ site.gdeurl }}javascript-dev-guide/bk-javascript-dev-guide.html">JavaScript Developer Guide</a></h3>
      <p>Everything you need to know about Magento and JavaScript.</p>      
      <h3><a href="{{ site.gdeurl }}extension-dev-guide/bk-extension-dev-guide.html">Extension Developer Guide</a></h3>
      <p>What is Magento? How the Magento platform is organized, overview of modules, file system, and database.</p>
      <p>What is an extension? A module service contract? Create or customize, and test and package extensions.</p>
<h3><a href="{{ site.gdeurl }}mtf/mtf_introduction.html">Magento Testing Framework Guide</a></h3>
      <p>With the Magento Testing Framework (MTF), you can create and run functional tests to make it easier to perform basic acceptance testing, smoke testing, regression testing, and so on.</p>
<h3><a href="{{ site.gdeurl }}pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></h3>
      <p>A design pattern is an agreed-upon guide for creating UI features and interactions.</p>
      <h3><a href="{{ site.gdeurl }}coding-standards/bk-coding-standards.html">Coding Standards</a></h3>
      <p>Which standards should I follow when I code extensions or customize my storefront?</p>

      <h3><a href="{{ site.gdeurl }}get-started/bk-get-started-api.html">Get Started with Magento Web APIs</a></h3>
      <p>What are the web APIs? How can I call the REST and SOAP web APIs?</p>

<h3><a href="{{ site.gdeurl }}rest/bk-rest.html">REST Reference</a></h3>
      <p>Provides reference information for REST.</p>
      <h3><a href="{{ site.gdeurl }}soap/bk-soap.html">SOAP Reference</a></h3>
      <p>Provides reference information for SOAP.</p>
      
      <div class="panel-separator"></div>
   </div>
</section>

